<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="simplement-e-commerce" version="13.2.0" targetFramework="net45" />
  <package id="Simplement-e-core" version="13.2.0" targetFramework="net45" />
  <package id="simplement-e-server" version="13.2.0" targetFramework="net45" />
</packages>